.brand-icon {
    /*font-size: 32px;*/
    padding-right: 4px;
    top: 2px;
    color: #fff;
}

.brand-icon:hover {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ccc;
}

.navbar-inverse {
    background-color: #993366;
    border-color: #993366;
}

/*.navbar-nav>li>a {*/
    /*padding-top: 24px;*/
/*}*/
