<!DOCTYPE html>
<html>
    <head>
        <title>GGRobotics</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" media="screen">

        <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='js/html5shiv.js') }}" type="text/javascript></script>
        <script src="{{ url_for('static', filename='js/respond.min.js') }}" type="text/javascript></script>
        <![endif]-->
    </head>
    <body>
        <div class="navbar-wrapper">
            <div class="container">

                <div class="navbar navbar-inverse" role="navigation">
                    <div class="container">

                        <div class="navbar-header">
                            <!-- hamburger thing -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cog brand-icon"></span>GGRobotics</a>
                        </div>

                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Sponsors</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        {% block body %} {% endblock %}

        <script src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
    </body>
</html>
